.register {
    width: 25vw;
    margin: auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.title {
    margin-bottom: 1rem;
    color: #333;
}

.content {
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    justify-content: space-between;
}


.controls > input {
    width: 100%;
    padding: 0.35rem 1rem;    
}

.controls > input:focus {
    outline: none;
}

.actions {
    margin-left: auto;
}

.error {
    color: red;
    font-size: 0.87rem;
    font-style: italic;
    margin-bottom: 0.3rem;
}