.login {
    width: 25vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    text-align: center;
    box-shadow: 4px 8px 10px rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 2rem;
 
}

.controls {
    width: 100%;
}

.controls input {
    margin-left: auto;
    width: 100%;
    height: 2rem;
    border: 1px solid #9b9a9a;
    border-radius: 2px;
    background-color: transparent;
    padding: 0 1rem;
}

.controls input:focus {
    outline: none;
}

.actions {
    width: 100%;
}

.actions button {
    width: 100%;
    background-color: #1a37dd;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin: 0;
}

.actions button:hover {
    opacity: 0.6;
}

.error {
    float: left;
    color: red;
    font-style: italic;
    font-size: 0.9rem;
}